<%- include('partials/header') %>
    <div class="landing-page">
        <video class="landing-video" autoplay="" muted loop="">
            <source src="media/landingVideo.mp4" type="video/mp4">
            your browser does not supper the video tag.
        </video>
        <div class="container home">
            <h1 class="main-title">naval battles</h1>
            <div class="card">
                <img class="logo" src="media/images/logo.jpg" alt="logo">
                <form action="/create-user" method="POST">
                    <p class="p-user">You don't have a username</p>
                    <input type="text" class="form-control" name="username" placeholder="Username" required autocomplete="off">
                    <p class="status"> <%= userTaken %> </p>
                    <button type="submit" class="btn btn-dark">continue</button>
                </form>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>